@{
    ViewData["Title"] = "обзоры фильма";
}
@model ReviewViewModel

<div class="column">
    <h2>@Model.FilmTitle</h2>
    <h3>@Model.FilmDescription</h3>
</div>
<hr />
@if (!Model.Reviews.Any())
{
    <div class="row justify-content-center">
        <p class="text-danger">Нет рецензий!</p>
    </div>
}
else
{
    <div class="row justify-content-center">
        @foreach (var item in Model.Reviews)
        {
            <div class="card mr-2 mb-2" style="width: 50rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.ReviewAutor</h5>
                    <p class="card-text">@item.ReviewData.Replace("T", " ")</p>
                    <p class="card-text">@item.ReviewTitle</p>
                    <hr />
                    <p class="card-text">@item.ReviewDescription</p>
                </div>
            </div>
        }
    </div>
}

